In [19]:
import pandas as pd
import bs4
from urllib.request import Request
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [20]:
url = "https://bank-code.net/transit-number"

# headers={'User-Agent': 'Mozilla/5.0'}

req = Request(url, headers =  {'User-Agent':"cheese"})

uClient = uReq(req)

page_html = uClient.read()

uClient.close()

page_soup = soup(page_html, "html.parser")

In [21]:
containers = page_soup.tbody.findAll("tr")

len(containers)

110

In [22]:
col_insName = []
col_insNum = []

for container in containers:
    columns = container.findAll("td")
    insName = columns[0].text.strip()
    insNum = columns[1].text.strip()
    insType = columns[2].text.strip()
    if insType == "Bank":
        col_insName.append(insName)
        col_insNum.append(insNum)

newdf = pd.DataFrame({"Institution Name": col_insName,
                      "Institution Number": col_insNum})
newdf.sort_values(by = ["Institution Number"], ascending = True, inplace = True)
newdf.reset_index(inplace = True)
newdf.drop("index", axis = 1, inplace = True)

In [23]:
newdf

                    Institution Name Institution Number
0                   Bank Of Montreal                001
1            The Bank Of Nova Scotia                002
2               Royal Bank Of Canada                003
3          The Toronto-Dominion Bank                004
4         Banque Nationale Du Canada                006
..                               ...                ...
56                   Cs Alterna Bank                608
57                    Tangerine Bank                614
58                    Equitable Bank                623
59  Comtech Firecredit Union Limited                807
60                    Concentra Bank                853

[61 rows x 2 columns]

In [24]:
newdf.to_json('CanadianBanks.json', orient='records')

In [ ]:
# f = open("CanadianBanks.json", "w")

# for row in newdf.iterrows():
#     row[1].to_json(f, orient='records')
#     f.write("\n")    

# f.close()